{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добро пожаловать! На сайт Online Заметок !</h1>
    <p>Для того чтобы добавлять и просматривать заметки вам небходимо <a href="{{ path('userNew') }}">Зарегистрироваться</a><br>
        на сайте или <a href="{{ path('loginPage') }}">Авторизируйтесь</a></p>
{% endblock %}